@import url("./varieablen.css");

.mobil-menu-icon {
  display: block;
  cursor: pointer;
}

.mobil-menu-icon span {
  display: block;
  width: 50px;
  height: 7px;
  background-color: var(--text-color);
  margin: 8px 0;
  transition: 0.4s;
}

nav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--header-backround-color);
}

.content-header {
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.content-header-menu {
  width: 74%;
  background-color: white;
  text-align: center;
  top: 49%;
  position: absolute;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 16px 16px;
  width: 100%;
}

.nav-section img {
  width: 80px;
    height: 60px;
    cursor: pointer;
    border-radius: 16px;
    object-fit: cover;
}

.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 85px;
  background-color: var(--header-backround-color);
  box-shadow: 0px 0px 25px 0px rgb(56, 56, 56);
}

.bewertungen {
  display: flex;
  width: calc(100% - 60px);
  margin-left: 20px;
  justify-content: flex-start;
  align-items: center;
}

.bewertungen #star-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.is-close {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.is-open {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
}

h3 {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
