@import url("./varieablen.css");


.content-header {
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.content-header-menu {
  width: 74%;
  background-color: white;
  text-align: center;
  top: 49%;
  position: absolute;
}

.bewertungen {
  display: flex;
  width: calc(100% - 60px);
  margin-left: 20px;
  justify-content: flex-start;
  align-items: center;
}

.bewertungen #star-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

h3 {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
