.mobil-menu-icon {
  display: block;
  cursor: pointer;
}

.mobil-menu-icon span {
  display: block;
  width: 50px;
  height: 7px;
  background-color: var(--text-color);
  margin: 8px 0;
  transition: 0.4s;
}

nav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--header-background-color);
}

.content-header {
  width: 100%;
  background-image: url("../assets/img/food-1351290_1280.jpg");
  height: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.content-header-menu {
  width: 74%;
  background-color: white;
  text-align: center;
  top: 49%;
  position: absolute;
}

.nav-section {
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: rgb(247, 246, 241);
  gap: 20px;
}

.nav-section #nav-img {
  width: 40px;
  height: 40px;
  transform: rotate(30deg);
  cursor: pointer;
}

.bewertungen {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.bewertungen #star-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.content-header img {
  width: 100%;
  height: auto;
}
