.mobil-menu-icon {
  display: block;
  cursor: pointer;
}

.mobil-menu-icon span {
  display: block;
  width: 50px;
  height: 7px;
  background-color: var(--text-color);
  margin: 8px 0;
  transition: 0.4s;
}

nav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--header-background-color);
}

.content-header {
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.content-header-menu {
  width: 74%;
  background-color: white;
  text-align: center;
  top: 49%;
  position: absolute;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.nav-section #nav-img {
  width: 40px;
  height: 40px;
  transform: rotate(30deg);
  cursor: pointer;
}

.nav-section h3 {
  width: calc(100% - 60px);
  margin-left: 20px;
  margin-bottom: 10px;
}

.figger-haeder {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50px;
}

.figger-haeder img {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 90px;
  background-color: rgb(247, 246, 241);
}

.bewertungen {
  display: flex;
  width: calc(100% - 60px);
  margin-left: 20px;
  justify-content: flex-start;
  align-items: center;
}

.bewertungen #star-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.is-close{
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.is-open {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
 
}

h3{
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}