.mobil-menu-icon {
  display: block;
  cursor: pointer;
}

.mobil-menu-icon span {
  display: block;
  width: 50px;
  height: 7px;
  background-color: var(--text-color);
  margin: 8px 0;
  transition: 0.4s;
}

nav{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--header-background-color);
}

.content-header {
    width: 100%;
    background-image: url("../assets/img/food-1351290_1280.jpg");
    height: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}   
.content-header img{
    width: 100%;
    height: auto;
}