.dishes-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 8px;
    background-color: var(--card-background-color);
   
    margin: 16px 0px;
    transition: background-color 0.3s ease;
}

.dishes-card h3{
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-color);
}

.dishes-card img{
    width: 120px;
    height: 60px;
    border-radius: 12px;
    padding: 8px;
    object-fit: cover;
}

.add-to-basket-button{
    padding: 8px 16px;
    background-color: var(--header-backround-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


