.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: var(--header-backround-color);
  box-shadow: 0px 0px 25px 0px rgb(56, 56, 56);
}

.mobil-menu-icon {
  display: block;
  cursor: pointer;
}

.mobil-menu-icon span {
  display: block;
  width: 50px;
  height: 7px;
  background-color: var(--text-color);
  margin: 8px 0;
  transition: 0.4s;
}

.nav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--header-backround-color);
}

.headerContent {
  display: flex;
  list-style: none;
  cursor: pointer;
  background-color: white;
  height: 25px;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 8px;
}

.headerContent:hover {
  display: flex;
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .menu-header {
    opacity: 0;
    visibility: hidden;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    height: 0;
  }

  .isContentOpen {
    display: flex;
    position: sticky;
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 80ms;
    height: 100%;
  
  }

  .headerContent {
   
    opacity: 0;
    visibility: hidden;
  }

  .isOpen {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 80ms;
    width: 80%;
    height: 20px;
    margin: 10px 0;
    font-size: 1.2rem;
    font-size: 0.8rem;
  }
}
