@import url("./css/varieablen.css");
@import url("./css/base.css");
@import url("./css/desh-content.css");
@import url("./css/menu.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var();
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--content-limitation);
  margin: 0 auto;
}
.hero-section {
  width: 100%;
  height: 400px;
}

.hero-section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-backround-color);
  color: var(--text-color);
  padding: 20px;
  text-align: start;
}

header .logo img {
  height: 80px;
}

.content-wrepper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.deshes-content {
  flex: 3;
  width: 100%;
}

.basket-wrepper {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%;
}

.basket-container {
  position: sticky;
  top: 0;
}

.basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.total-price {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  background-color: var(--header-backround-color);
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}

Footer .logo img {
  height: 80px;
}

@media (max-width: 768px) {
  header {
    padding: 0px;
    flex-direction: column;
  }

  header .logo img {
    height: 60px;
}

.hero-section img {
    height: 300px;
    object-fit: cover;
}

.mobil-menu-icon {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

  .hero-section {
    width: 100%;
    height: 300px;
  }

  .content-wrepper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }

  .basket-wrepper {
    position: absolute;
    padding: 0;
  }
.basket-header{
  padding: 0;
}
  .deshes-content {
    flex: 3;
    width: 100%;
  }

  .dishes-card {
    flex-direction: column;
    height: 100%;
  }
}
