@import url("./css/varieablen.css");
@import url("./css/base.css");
@import url("./css/desh-content.css");


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var();
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--content-limitation);
  margin: 0 auto;
}
.hero-section {
  width: 100%;
  height: 400px;
}

.hero-section img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-backround-color);
  color: var(--text-color);
  padding: 20px;
  text-align: start;
}

header .logo img {
  height: 80px;
}

.content-wrepper {
  display: flex;
  flex-grow: 1;
}

.content {
  flex: 3;
}

.basket-wrepper {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%;
  height: calc(100vh - 125px);
}

.basket-content {
  position: sticky;
  top: 0;
}

footer {
  background-color: var(--header-backround-color);
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
}
