@import url("./css/varieablen.css");
@import url("./css/base.css");
@import url("./css/dish-content.css");
@import url("./css/menu.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var();
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--content-limitation);
  margin: 0 auto;
}
.hero-section {
  width: 100%;
  height: 400px;
}

.hero-section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-backround-color);
  color: var(--text-color);
  padding: 20px;
  text-align: start;
}

header .logo img {
  height: 80px;
}

.nav {
  display: none;
}

.content-wrepper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.deshes-content {
  flex: 3;
  width: 100%;
}

.basket-wrepper {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%;
}

.basket-container {
  position: sticky;
  top: 0;
}

.basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.showlink {
  opacity: 0;
  visibility: hidden;
}

.total-price {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  background-color: var(--header-backround-color);
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}

Footer .logo img {
  height: 80px;
}

.my-dialog{
  display: none;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 20px;
  height: 150px;
  width: 300px;
  color: goldenrod;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(116, 116, 116, 0.637);
}

.my-dialog.isOpen{
  display: flex;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  header {
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
  }

  header .logo img {
    height: 60px;
  }

  .hero-section img {
    height: 300px;
    object-fit: cover;
  }
.nav{
       display: flex;
    }
  .mobil-menu-icon {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .hero-section {
    width: 100%;
    height: 300px;
  }

  .content-wrepper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }

  .basket-wrepper {
    position: absolute;
    padding: 0;
    width: 100%;
    
  }

  .basket-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: ease-in-out 0.6s;
    height: calc(100% - 20px);
  }

  .basket-container.isOpen {
    flex-direction: column;
    position: sticky;
    height:100%;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }

  .showlink {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    color: #fcfcfccc;
    font-weight: bold;
    font-size: 1.2rem;
  }

  

  .basket-header {
    padding: 0;
  }

  .deshes-content {
    flex: 3;
    width: 100%;
  }

  .dishes-card {
    flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .hero-section {
    height: 200px;
  }

  .hero-section img {
    height: 200px;
    object-fit: cover;
  }
     header .logo img {
        height: 40px;
    }

    .nav{
        width: 35px;
        height: 35px;
    }

    .mobil-menu-icon{
        width: 35px;
        height: 35px;
    }

    .mobil-menu-icon span{
        width: 35px;
        height: 6px;
        margin: 6px 0;
    }
}
