@import url("./css/varieablen.css");
@import url("./css/base.css");
@import url("./css/dish-content.css");
@import url("./css/menu.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--content-limitation);
  margin: 0 auto;
}

.hero-section {
  width: 100%;
  height: 400px;
}

.hero-section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-backround-color);
  color: var(--text-color);
  padding: 20px;
  text-align: start;
}

header .logo img {
  height: 80px;
}

.nav {
  display: none;
}

.content-wrepper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.dishes-content {
  flex: 3;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.basket-wrepper {
  flex: 2;
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%;
}

.basket-container {
  position: sticky;
  top: 0;
}

.basket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.basket-footer {
  margin: 8px 0;
}

.showlink {
  opacity: 0;
  visibility: hidden;
}

.total-price {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.isDish img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

footer {
  background-color: var(--header-backround-color);
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}

Footer .logo img {
  height: 80px;
}

.my-dialog {
  display: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  border: none;
  border-radius: 8px;
  padding: 20px;
  height: 100px;
  width: 300px;
  color: goldenrod;
  text-align: center;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(116, 116, 116, 0.637);
  margin: 50% auto;
}

.my-dialog::backdrop {
  background-color: rgba(116, 116, 116, 0.637);
}

.my-dialog.isOpen {
  display: flex;
  opacity: 1;
  visibility: visible;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  color: rgb(149, 212, 55);
}

@media screen and (min-width: 2560px) {
  header {
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
  }
  header .logo {
    width: 100%;
    max-width: var(--content-limitation);
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
  }

  header .logo img {
    height: 60px;
  }

  .hero-section img {
    height: 300px;
    object-fit: cover;
  }

  .nav {
    display: flex;
  }

  .mobil-menu-icon {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .hero-section {
    width: 100%;
    height: 300px;
  }
  .bewertungen {
    display: flex;
    width: calc(100% - 0px);
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .content-wrepper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }

  .basket-wrepper {
    position: absolute;
    padding: 0;
    width: 100%;
    background-color: #fff;
    bottom: 0;
  }

  .basket-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: ease-in-out 0.6s;
    height: calc(100vh - 20px);
    background-color: #fff;
  }

  .basket-container.isOpen {
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    position: sticky;
    min-height: 100%;
    z-index: 10;
    background-color: #fff;
  }

  .basket-header {
    padding: 0;
  }

  .deshes-content {
    flex: 3;
    width: 100%;
  }

  .isDish img {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }

  .showlink {
    opacity: 0;
    visibility: hidden;
  }
  .showlinkIsOpen {
    opacity: 1;
    visibility: visible;
    position: fixed;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    height: 55px;
    width: 100%;
    background-color: var(--header-backround-color);
    border: none;
    border-radius: 16px;
    z-index: 11;
    bottom: 0px;
  }
}

@media screen and (max-width: 425px) {
  .hero-section {
    height: 200px;
  }

  .hero-section img {
    height: 200px;
    object-fit: cover;
  }
  header .logo img {
    height: 40px;
  }

  .nav {
    width: 35px;
    height: 35px;
  }

  .mobil-menu-icon {
    width: 35px;
    height: 35px;
  }

  .mobil-menu-icon span {
    width: 35px;
    height: 6px;
    margin: 6px 0;
  }
}
